@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

#root {
    background-image: url(https://veautomation-fe-dev-dot-virtual-escape-295705.ts.r.appspot.com/static/media/Login.2f1e5efb.jpg);
    background-size: cover;
    background-position-x: 50%;
    background-position-y: 50%;
    background-repeat: no-repeat;
}

.container {
    background-color: rgba(17, 52, 70, 0.95);
    border-radius: 10px;
    border-color: #35515d;
    font-family: 'Montserrat';
    font-weight: 500;
    color: #fff;
}

input {
    background-color: #3a4e5a;
    border-radius: 29px;
    font-size: 1em;
    font-weight: 400;
    min-height: 50px;
    color: #fff;
}

.btn1 {
    background-image: linear-gradient(#75838b, #3b4246);
    background-blend-mode: normal;
    font-weight: 400;
}

.btn2 {
    background-color: #2d5167;
    color: #788b96;
}
